    <!doctype html>
    <title>Upload new File</title>
    <h1>Upload new File</h1>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file><br>
      Width<input type=number name=width><br>
      Height<input type=number name=height><br>
      <input type=submit value=Upload><br>
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flash>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
